.idea/

images/*
!images/pixel.png

templates/*
!templates/example-simple-v1.php
!templates/blocks/
!templates/example-abtesting-v1/
!templates/_*

templates/blocks/*
!templates/blocks/analytics.php
!templates/blocks/head-begin.php
!templates/blocks/head-end.php
!templates/blocks/begin.php
!templates/blocks/end.php
!templates/blocks/messages.php

translations/*

var/*
!var/.htaccess

stats.db

config.php

/vendor/
