/.idea/

/images/*
!/images/pixel.png

/templates/blocks/*
!/templates/blocks/analytics.php
!/templates/blocks/begin.php
!/templates/blocks/end.php
!/templates/blocks/head-begin.php
!/templates/blocks/head-end.php
!/templates/blocks/messages.php

/templates/views/*
!/templates/views/index/
!/templates/views/index.php

/templates/*.php
!/templates/_*.php
!/templates/example-*.php



/translations/*

/var/*
!/var/.htaccess

/stats.db

/config.php
/etc/*
!/etc/config.ini-example
!/etc/.htaccess

/vendor/
